PORT=8081
SECRET_JWT_KEY=tu_clave_secreta_aqui
MONGO_URI=mongodb://localhost:27017/gymtracker

# --- CONFIGURACIÓN DE EMAILS ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_password_de_aplicacion

# --- SERVICIOS EXTERNOS ---
BASE_URL=http://localhost:8081
MCP_SERVER_URL=http://localhost:40433/sse
LLAMA_URL=http://localhost:8080/api/chat
GEMINI_API_KEY=tu_api_key_aqui
GROQ_API_KEY=tu_api_key_aqui
COHERE_API_KEY=tu_api_key_aqui
